.option {

	height: 100px;
	width: 100px;
	margin: 10px;
	background-color: blue; 
	
}

.left {
	float: left;
}

.right {
	float: right;
}

.green {

	background-color: green;

}

/*have divs align next to each other*/

