body {

	background: url(RPS_pics/background3.gif) fixed;
	background-size: cover;
	background-position: center bottom;
	background-repeat: no-repeat;
	z-index: 0;

}


.sprite {
	height: 290px;
	width: 178px;
	z-index: 1;
	display: inline-block;
	position: fixed;
	-webkit-transform: scale(2);
	vertical-align: bottom;
	bottom: 5vh; /*adjust for sprites later*/
}

.p1sprite {
	left: 26vw;
	top: 63vh;
	/*background: url(RPS_pics/KenIdle.gif) fixed;*/

}	

.p2sprite {
	right: 43vw;
	/*background: url(RPS_pics/RyuIdle.gif) fixed;*/
}

